*
{
    margin: 0;
    padding: 0;
}

/* html,
body
{
    overflow: hidden; Esto evita que usuario pueda usar el scroll
} */

html {
    background: #1e1a20;
}

.webgl
{
    position: fixed; /* El elemento queda fijo independiente del scroll - Explicacion el canvas esta fijo lo que se hace es que cuando se mueve el scrool se esta moviendo la camara, lo cual genera el efecto. */
    top: 0;
    left: 0;
    outline: none; /*Elimina el borde que aparece al hacer clic o navegar con el teclado*/
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh; /* 100 porciento de la altura del navegador */
    position: relative; 
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd) /*Selecciona todos los elementos <section> que son hijos impares dentro de su contenedor padre*/
{
    justify-content: flex-end;
}