*
{
    margin: 0;
    padding: 0;
}

/* html,
body
{
    overflow: hidden; Esto evita que usuario pueda usar el scroll
} */

html {
    background: #1e1a20;
}

.webgl
{
    position: fixed; /* El elemento queda fijo independiente del scroll */
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh; /* 100 porciento de la altura del navegador */
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}